:root {
    --w-col: 8.33vw;

    --c-wh: #FFFFFF;
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes appearance-left {
    0% {
        opacity: 0;
        transform: translateX(-30%) rotate(30deg);
    }

    100% {
        opacity: .75;
        transform: translateX(0%) rotate(0deg);
    }
}

@keyframes appearance-right {
    0% {
        opacity: 0;
        transform: translateX(5%) translateY(50%) rotate(30deg);
    }

    100% {
        opacity: .75;
        transform: translateX(0%) translateY(0%) rotate(0deg);
    }
}

@keyframes appearance-safe {
    0% {
        opacity: 0;
        transform: translateX(0%) translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0%);
    }
}

@keyframes h1-appearance-right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes h1-appearance-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


@keyframes appearance-rev {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes main-desc-anim {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(5%);
    }

    1000% {
        transform: translateY(0%);
    }
}

@keyframes appearance-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes transparentAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



html {
    background: #121212;
    color: var(--c-wh);
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0px;
    overflow-x: clip;
    position: relative;
    /*width: 100vw;*/
    font-family: 'Helvetica', sans-serif;
}

img {
    pointer-events: none!important;
}

a {
    color: rgb(255, 255, 255, .75);
}

a:hover {
    text-decoration: underline!important;
}

body::selection {
    background: #E6A96C50;
    color: #121212;
}

header {
    padding-inline: var(--w-col);
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    opacity: 0;

    animation: 2s ease 1.5s 1 forwards appearance;
}

.h-logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 3vw;
    height: 11.3vh;
}

.h-logo-img {
    width: auto;
    height: 11.3vh;
}

.h-logo-img {
    grid-row: 1;
    grid-column: 1;
}

.h-logo-shadow {
    grid-row: 1;
    grid-column: 1;
    height: 30vh;

    position: relative;
}

.h-logo-shadow {
    transition: all .5s ease;

    opacity: .25;
}

.h-logo:hover .h-logo-shadow {
    opacity: .75;
}

.h-logo-shadow.a {
    left: -40%;
    top: -20%;
}

.h-logo-shadow.b {
    left: -30%;
    top: -40%;
}

.h-nav {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: rgb(256, 256, 256, .75);
    font-size: 1vw;
    cursor: pointer;
    align-items: center;


    transition: all .2s ease;
}

.h-nav a {
    color: rgb(256, 256, 256, .75);
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s ease;
}

.h-nav a:hover {
    color: white;
    text-decoration: underline;
}

.h-bl {
    width: 50vw;
    max-height: 10vh;
    pointer-events: all!important;

    transition: all .2s ease;
}

.h-bl:hover {
    opacity: 0!important;
    pointer-events: none!important;
}

.bucket {
    gap: 1ch;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-weight: bolder;
    outline: 2px solid #969696;
    color: #969696;
    padding: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;

    transition: all .2s ease;
}

.bucket:hover {
    rotate: 22.5deg;
    scale: .9;
    color: #e6a96c;
    outline: 2px solid #e6a96c;
}

.bucket-img {
    width: 2.5vw;
}

.main-screen-content {
    padding-inline: var(--w-col);
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(83vh - 7.5vh);
    justify-content: space-between;
    overflow-y: visible;
    padding-bottom: 10vh;
}

.main-screen-content h1 {
    font-size: min(min(110px, 8vw), 11vh);
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #ebebeb;
    line-height: min(min(95px, 7vw), 10vh);
    margin-bottom: 0px;
    mix-blend-mode: hard-light;
    /*text-shadow: 0px 0px 44px black;*/
    animation: .6s linear 0s transparentAnim, 2s cubic-bezier(0.42, 0, 0.25, 0.95) .5s 1 h1-appearance-right;
}

.main-screen-content h1 span {
    display: block;
    animation: .6s linear 0s transparentAnim, 2s cubic-bezier(0.42, 0, 0.25, 0.95) .5s 1 h1-appearance-left;
}

main {
    overflow: clip;
}

.gear {
    position: absolute;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gear.a {
    top: 36vh;
    left: 7vw;
}

.gear img {
    opacity: 0;
}

.gear.a img {
    width: 19vw;
    animation: 1s ease-in-out .5s 1 forwards appearance-left;
}

.gear.b {
    top: 23vh;
    left: 65vw;
}

.gear.b img {
    width: 10vw;
    animation: 1s ease-in-out 1s 1 forwards appearance-right;
}

.gear.c {
    bottom: 10vh;
    rotate: -44deg;
}

.gear.c img {
    width: 7.5vw;
    animation: 1.5s ease-in-out 1.25s 1 forwards appearance-right;
}

.gear.d {
    bottom: 15vh;
    left: 50vw;
    rotate: 45deg;
}

.gear.d img {
    width: 10vw;
    animation: 1.5s ease-in-out 1.65s 1 forwards appearance-right;
}

.safe {
    position: absolute;
    top: 3vh;
    left: 45vw;
    width: max(60%, 100vh);

    transition: opacity .2s ease, transform .1s linear!important;

    animation: 1s linear 0s 1 transparentAnim, 1.5s cubic-bezier(0.42, 0, 0.25, 0.95) 1s 1 appearance-safe;
}

.safe-s {
    top: 20vh;
    left: 44vw;
    width: max(70%, 110vh);
    opacity: 0;
    display: none!important;

    transition: opacity .2s ease!important;

    animation: 1s linear 0s 1 transparentAnim, 1.5s cubic-bezier(0.42, 0, 0.25, 0.95) 1s 1 appearance-safe;
}

#heroYellowGlow {
    position: absolute;
    top: 0vh;
    left: 31%;
    z-index: 1;
    animation: 1.5s linear 0s 1 forwards transparentAnim, 1.5s cubic-bezier(0.42, 0, 0.25, 0.95) 1.5s 1 forwards appearance-safe;
}

.dealer-content {
    padding-left: min(153px, 8.5vw);

    color: white;

    display: flex;
    font-weight: 500;
    align-items: center;
    gap: 1ch;
    font-size: 35px;
    max-width: 40vw;
    line-height: 35px;

    /*margin-top: 5vh;*/
    margin-block: auto;

    animation: .6s linear 0s forwards transparentAnim, 2s ease .6s 1 forwards appearance-rev;

    transition: all 1s ease;
}

.dealer-text {
    opacity: .8;
    cursor: default;
    letter-spacing: normal;
    max-width: 30ch;
}

.dealer-text:hover {
    opacity: 1;
}

.ellp {
    position: absolute;
    z-index: -1;
}

.ellp.a {
    top: 0vh;
    left: 19vw;
    width: 132vw;
}

.ellp.b {
    top: -4vh;
    left: -47vw;
    width: 130vw;
}

.target-action-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 19.5px;
    color: #e0e0e0;
    margin: 0px;
}

.order-btn {
    background: radial-gradient(circle, rgba(230, 169, 108, 1) 0%, rgb(143 98 55) 100%);
    border-radius: 30px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    gap: 10px;
    font-size: 30px;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    color: #121212;
    text-transform: uppercase;
    border: none;
    width: 100%;
    cursor: pointer;
    overflow: hidden;

    /*box-shadow: inset 5px 5px 13px #00000050, 0px -10px 50px #e6a96c90;*/

    justify-items: center;
    align-items: center;

    transition: all .2s ease;
    /* border-top-left-radius: 0px; */
    /* border-top-right-radius: 0px; */
}

.order-btn:hover + .order-glow {
    opacity: 0;
}

.order-btn:hover {
    /*transform: rotate(1deg);*/
    font-size: 27.5px;
    padding: 21.5px;
    padding-inline: 35px;
    background: #121212;
    color: #E6A96C;
    box-shadow: inset 3px 3px 20px #84848425;
    border: 2px solid #96969650;
    text-shadow: 0px 0px 20px #E6A96C50;
}

.order-btn:hover .order-btn-arrow {
    transform: rotate(90deg);
    margin-right: 87%;
    background: #E6A96C!important;
    color: #121212!important;
    box-shadow: 0px 0px 80px #e6a96c;
}

.order-btn:hover img {
    filter: invert(0.6) sepia(1) saturate(1.5);
}

.main-desc {
    display: flex;
    gap: 2ch;
    background: rgb(18, 18, 18, 1);
    padding-block: 25px;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    align-items: center;
    width: 75%;
    padding: 1vw;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: max(20vw, 45ch);
    margin-inline: 1.5vw;

    box-shadow: inset 3px 3px 20px #84848425;
    border: 2px solid #96969650;
    border-bottom: none;
    padding-block: 20px;

    animation: 1s ease-in-out 0s 1 forwards appearance-opacity;

    transition: all .5s ease;
}

.hero-bg {
    opacity: 0;
    transform: none!important;
    animation: 4s ease-in-out 1s 1 forwards appearance-opacity;
}

.target-action-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    overflow: hidden;

    animation: 2s ease 1.5s 1 forwards appearance-rev;
}

.target-action-form:hover .main-desc {
    padding-bottom: 40px;
}

.order-glow img {
    transition: all 1s ease;
}

.target-action-form:hover .order-glow img {
    scale: 1.25;
    transform: translateY(-43%)!important;
    opacity: .25;
}

.hero-info-islands {
    justify-content: center;
    width: 100%;

    gap: 5px;
    display: none;
    padding-top: 0px;
}

.hero-info-island {
    padding: 10px;
    background: rgb(10, 10, 10, .75);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #555;
    opacity: 0;

    animation: 1s ease 1s 1 forwards appearance;
}

.second-word {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: radial-gradient(circle, rgba(230, 169, 108, 1) 0%, rgb(143 98 55) 100%);
    text-shadow: none;
}

.second-word-shifter {
    display: contents!important;
}

.product-switch-btn {
    height: 60px;
    aspect-ratio: 1/1;
    width: unset;
    background: transparent;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255, .5);
    font-size: 25px;
    color: rgb(255,255,255,.75);
    cursor: pointer;
}

.product-switch-btn:hover {
    border: 2px solid #E6A96C;
    color: #E6A96C;
}

.promo-img {
    margin-block: auto;
    width: -webkit-fill-available;
    max-width: max-content;
    border-radius: 25px;
    max-height: 40vh;
    aspect-ratio: 1 / 1;
}

.target-action-form .main-desc {
    z-index: -1;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
}

.heading-group {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}

.order-btn-arrow-wrapper {
    width: -webkit-fill-available;
}

@media (max-height: 900px) {
    .dealer-text {
        font-size: 25px;
        line-height: 25px;
    }

    #mainHeader {
        margin-top: 0vh;
        height: max-content;
    }
}

@media (aspect-ratio < 1/1) and (max-height: 710px) {
    .hero-info-islands {
        display: none!important;
    }
}

@media (aspect-ratio < 1/1) {
    .pm-dash {
        display: none;
    }

    .order-btn:hover .order-btn-arrow {
        margin: 0px;
    }

    .dealer-content img {
        max-height: min(15vw, 50px);
    }

    #pageScrollPercent {display: none}

    .heading-group {
        overflow: visible;
        margin-block: auto;
        gap: 10px;
        justify-content: center;
    }

    .target-action-form .main-desc {
        row-gap: 5px;
    }

    .hero-info-islands {
        margin-bottom: auto;
    }

    .promo-img {
        max-height: 33vh;
    }

    .gear {
        z-index: -1;
        scale: 3;
        display: none;
    }

    .gear.a, .gear.b, .gear.c, .gear.d {
        display: initial;
    }

    .gear.c {
        top: 0vh;
    }

    .gear.d {
        top: -4vh;
        left: 71vw;
    }

    .dealer-text {
        font-size: 16px;
        line-height: 1;
    }

    .hero-info-islands {
        padding-block: 1.3ch;
        display: flex;
        color: #e0e0e0;
    }

    .hero-info-island {
        box-shadow: inset 3px 3px 20px #84848425;
        border: 2px solid #96969650;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: -webkit-fill-available;
    }

    .hero-info-island .h-colorized {
        margin: 0px;
    }

    .hero-bg {
        filter: brightness(0.75)!important;
    }

    #loaderScreenBg img {
        width: 86vw;
        margin-block: auto;
    }

    .order-btn-arrow-wrapper {
        width: min-content;
        display: initial!important;
    }

    .dealer-content {
        width: -webkit-fill-available;
        max-width: max-content;
        margin-bottom: 15px;
        /*background: rgb(10, 10, 10, .75);*/
        background: rgb(18, 18, 18, 1);

        border-radius: 25px;
        padding: 10px;

        box-shadow: inset 3px 3px 20px #84848425;
        border: 2px solid #96969650;

        gap: 10px;
    }

    h1 {
        font-size: 10.9vw;
        line-height: 4.5vh;
        height: inherit;
        margin: 0px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-shadow: 0px 0px 42px black;
    }

    .order-glow img {
        width: 92vw!important;
    }

    .dealer-content {
        margin-bottom: 5vh;
        margin-block: 0px!important;
        padding: 15px;
    }

    .main-screen-content {
        padding-inline: var(--w-col);
        height: 71vh;
        margin-bottom: 1vh;
        justify-content: flex-end;
    }

    .hero-bg {
        width: auto !important;
        height: 100vh;
        left: -146%;
    }

    .h-bl {
        display: none;
    }

    .bucket {
        font-size: 15px;
        padding: 15px;
    }

    .main-screen-content h1 {
        font-size: 10.8vw;
        letter-spacing: -2;
        line-height: 9.9vw;
        height: auto;
    }

    .second-word {
        font-size: 11.3vw;
    }

    .h-nav {
        font-size: 16px;
        text-align: center;
    }

    header {
        margin-top: 3.5vh;
        top: 3.5vh!important;
        width: -webkit-fill-available;
        padding-inline: var(--w-col);
    }

    .second-word-shifter {
        display: none!important;
    }

    .safe, .safe-s {
        z-index: -1;
        left: 0vw;
        height: 83vh;
        top: 19vh;
        width: auto;
    }

    .target-action-desc {
        font-size: 16px;
        line-height: 1.1;
        font-weight: 500;
        opacity: .9;
        max-width: 22ch;
    }

    .order-btn {
        font-size: 25px;
        box-shadow: 0px 0px 50px #E6A96C50;
        display: flex;
        height: 70px !important;
    }

    .order-btn-arrow {
        width: 50px!important;
    }

    .main-desc {
        padding: 2ch;
        grid-row: 1;
        grid-column: 1;
        margin-bottom: 45px;
        padding-bottom: 50px;
        animation: 1s ease-in-out 0s 1 forwards appearance-opacity, 3s ease-in-out 1s infinite forwards main-desc-anim;
    }

    .ellp {
        display: none;
    }

    .pm-logo {
        height: 65px;
    }

    .target-action-form {
        width: -webkit-fill-available;
        overflow: visible;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        align-items: end;
    }

    .order-btn, .main-desc {
        grid-row: 1;
        grid-column: 1;
        margin-inline: auto;
    }

    .h-logo {
        height: 6.3vh;
        width: 8vw;
    }

    .h-logo-img {
        height: 6.3vh;
    }

    .order-glow {
        width: 0px;
    }
}
