<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Железный аргумент</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link type="text/css" rel="stylesheet" href="../static/css/base.css">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <img style="position: absolute;z-index: -1;filter: brightness(0.75);width: -webkit-fill-available;" src="../static/img/bg.png">
    <header>
        <div class="h-logo">
            <img class="h-logo-img" src="../static/img/logo.png">
            <img class="h-logo-shadow a" src="../static/img/logo-shadow-1.png">
            <img class="h-logo-shadow b" src="../static/img/logo-shadow-2.png">
        </div>
        <nav class="h-nav">
            <a>КАТАЛОГ</a>
            <a>О НАС</a>
            <a>КОНТАКТЫ</a>
        </nav>
        <img class="h-bl" src="../static/img/bl.png">
        <a class="bucket">
            [5] <img class="bucket-img" src="../static/img/bucket.png">
        </a>
    </header>
    <main class="main-screen-content">
        <h1>
            Железный
            <span class="second-word">— Аргумент.</span>
        </h1>

        <h2 class="dealer-content">
            <img src="../static/img/pmlogo.png" class="pm-logo">
            <img src="../static/img/pmdash.png" class="pm-dash" style="opacity: .8;">
            <span class="dealer-text">
                Оффициальный диллер продукции “НПО Промет”.
            </span>
        </h2>

        <div class="target-action-form">
            <aside class="main-desc">
                <img src="../static/img/Frame 78.png">
                <p class="target-action-desc">
                    У нас большое разнообразие металлической<br>мебели российского производства.
                </p>
            </aside>

            <button class="order-btn">
                Подобрать <img src="../static/img/arrow.png" style="width: 3ch;margin-left: auto;">
            </button>
        </div>

        <img src="../static/img/ellp.png" class="ellp a">
        <img src="../static/img/ellp-2.png" class="ellp b">
        <img src="../static/img/g.png" class="gear a">
        <img src="../static/img/safe-s.png" class="safe s">
        <img src="../static/img/safe.png" class="safe">

    </main>
</body>
</html>